.bg-my-light-blue{
   background-color: #EFF4FF;
}

.sidebar{
   background-color: #B2DAFF30;
   border-right: 1px solid #B2DAFF;
}

.side-link{
   transition: .2s ease-in;
   position: relative;
}

.side-link a{
   color: #656565;
}

.side-link::after{
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   border-radius: 20px;
   width: 3px;
   height: 0%;
   background-color: #1368B8;
   transition: .2s ease-in;
}

.side-link:hover{
   background-color: #B2DAFF30;
}

.side-link:hover::after{
   height: 100%;
}

.side-link:hover a{
   color: #1368B8 !important;
}

/* active side link style */
.side-link.active{
   background-color: #B2DAFF70;
}

.side-link.active a{
   color: #1368B8 !important;
}

.side-link.active::after{
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   border-radius: 20px;
   width: 3px;
   height: 100%;
   background-color: #1368B8;
   transition: .2s ease-in;
}

/* ======================= dashboard content syles =========================== */
.content{
   overflow-y: auto;
}

/* banner */
.banner{
   padding-top: 20px;
   /* padding-bottom: 80px; */
}

.banner-reminder{
   background-color: #65AAEA;
}

.banner-dashboard{
   background: rgb(16,96,170);
   background: linear-gradient(63deg, rgba(16,96,170,1) 0%, rgba(19,104,184,1) 12%, rgba(20,109,192,1) 24%, rgba(101,170,234,1) 55%, rgba(178,218,255,1) 78%, rgba(255,255,255,1) 100%);
}

/* classes */
.class-cards{
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
}

.header-classes {
   left: -10px;
}

.nav-link{
   transition: .2s ease-in;
   position: relative;
   margin-right: 50px;
}

.nav-link a{
   color: #656565;
}

.nav-link:hover a{
   color: #1368B8 !important;
}

/* active side link style */
.nav-link.active a{
   color: #1368B8 !important;
}

.content-classes{
   margin-top: 100px;
}

.shape-background{
   position: absolute;
   display: block;
   height: 300px;
   width: 100%;
   background: rgb(16,96,170);
   background: linear-gradient(63deg, rgba(16,96,170,1) 0%, rgba(19,104,184,1) 12%, rgba(20,109,192,1) 24%, rgba(101,170,234,1) 55%, rgba(178,218,255,1) 78%, rgba(255,255,255,1) 100%);
   top: 0;
   left: -10px;
   /* z-index: -1; */

}

.drop-container {
   position: relative;
   display: flex;
   gap: 10px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 200px;
   padding: 20px;
   border-radius: 10px;
   border: 2px dashed #555;
   color: #444;
   cursor: pointer;
   transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
   background: #b2daff1f;
   border-color: #111;
}

.drop-container:hover .drop-title {
   color: #222;
}

.drop-title {
   color: #444;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   transition: color .2s ease-in-out;
}

